.textcenter {
    text-align: center; 
    margin-bottom: 33px;
    }
    
    .line {
        height: 2px;
        background: #000;
    }

    .header-text {
        color: #252525;
    font-family: var(--font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-wrap: nowrap;
    /* margin-top: 27px; */
    position: relative;
    top: 36px;
    background: #fff;
    display: inline-block;
    padding: 0 20px;
    }

    .design {
        /* width: 399px; */
        margin-top: 33px;
height: 397px;
flex-shrink: 0;
border-radius: 26px;
background: #C5E0FF;
border: none;
position: relative;
    }

    .map-design {
height: 175px;
flex-shrink: 0;
border-radius: 26px 26px 0px 0px;
    }

    .txt {
        color: #33403E;
font-family: var(--font-family);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
    }

    .card-body {
        margin-top: 5%;
    }

    .card {
       transition: box-shadow 0.3s;
      }
       
      .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        bottom: -10px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
  background-color: #349DFF
}

.circle:hover {
    transform: scale(1.5); /* Increase size on hover */
  }
  
  .circle svg {
    transition: transform 0.3s ease; /* Add a transition for smooth scaling */
  }
  
  .circle:hover svg {
    transform: scale(1.2); /* Increase size of SVG on hover */
  }
      
      