<div class="container-fluid textcenter">
    <h2 class="header-text">About me</h2>
    <div class="line"></div>
</div>
<div class="container" style="margin-left: 59px; margin-right: 59px;">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/Rectangle 24.png" alt="" class="img-layout">
            <img src="/assets/Rectangle 25.png" alt="" class="img-layout">
            <img src="/assets/Rectangle 26.png" alt="" class="img-layout">
        </div>
        <div class="col-md-6">
            <p class="txt">Experienced Front-End Developer at Tata Consultancy Services (TCS) with 2 years of expertise. Proficient
                in HTML5, CSS3, and Angular, delivering dynamic and responsive web applications. Collaborative team
                player with a focus on creating seamless user experiences. Stay current with industry trends,
                integrating innovative solutions.</p>
        </div>

    </div>
</div>