<div class="container-fluid textcenter">
    <h2 class="header-text">Projects</h2>
    <div class="line"></div>
</div>

<div class="container" style="margin-top: 65px;">
    <div class="row">
      <div class="col-md-5">
        <div class="card card-one-design custom-card" >
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">TODO</h5>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card card-two-design custom-card">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">Portfolio</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-one-design custom-card" style="background: #D2DCFF;">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">Simple Calculator</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-two-design custom-card" style="background: #FFD3ED;">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">Login Page</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  