<div class="container-fluid textcenter">
    <h2 class="header-text">Projects</h2>
    <div class="line"></div>
</div>

<div class="container" style="margin-top: 65px;">
    <div class="row">
      <div class="col-md-5">
        <div class="card card-one-design custom-card" >
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">TODO</h5>
            <div class="d-flex justify-content-end me-5">
              <!-- <a href="" target="_blank"><img src="../../assets/figma1.png" alt="figma" class=" icon" width="46" height="46"></a> -->
              <a href="https://github.com/Sammedpatil29/TODO" target="_blank"><img src="../../assets/github.png" alt="github" class="ms-3 icon" width="40" height="40" title="look at the TODO page i have created in github"></a>
              <!-- <a href="" target="_blank"><img src="../../assets/webicon.png" alt="website" class="ms-3 icon" width="40" height="40"></a> -->
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card card-two-design custom-card">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">Portfolio</h5>
            <div class="d-flex justify-content-end me-5">
              <a href="https://shorturl.at/MQ468" target="_blank"><img src="../../assets/figma1.png" alt="figma" class=" icon" width="46" height="46" title="i have created figma design for my portfolio page and wrote a code from scratch"></a>
              <a href="https://github.com/Sammedpatil29/Portfolio" target="_blank"><img src="../../assets/github.png" alt="github" class="ms-3 icon" width="40" height="40" title="Checkout the code and activities I have gone through to create my portfolio page"></a>
              <!-- <a href="" target="_blank"><img src="../../assets/webicon.png" alt="website" class="ms-3 icon" width="40" height="40"></a> -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-one-design custom-card" style="background: #D2DCFF;">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">Simple Calculator</h5>
            <div class="d-flex justify-content-end me-5">
            <!-- <a href="" target="_blank"><img src="../../assets/figma1.png" alt="figma" class=" icon" width="46" height="46"></a> -->
            <a href="https://github.com/Sammedpatil29/Simple-Calculator" target="_blank"><img src="../../assets/github.png" alt="github" class="ms-3 icon" width="40" height="40" title="checkout my simple calculator code in github"></a>
            <!-- <a href="" target="_blank"><img src="../../assets/webicon.png" alt="website" class="ms-3 icon" width="40" height="40"></a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-two-design custom-card" style="background: #FFD3ED;">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title txt">Login Page</h5>
            <div class="d-flex justify-content-end me-5">
              <!-- <a href="https://shorturl.at/MQ468" target="_blank"><img src="../../assets/figma1.png" alt="figma" class=" icon" width="46" height="46"></a> -->
              <!-- <a href="https://github.com/Sammedpatil29/TODO" target="_blank"><img src="../../assets/github.png" alt="github" class="ms-3 icon" width="40" height="40" title="checkout my simple calculator code in github"></a> -->
              <!-- <a href="" target="_blank"><img src="../../assets/webicon.png" alt="website" class="ms-3 icon" width="40" height="40"></a> -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  