<div class="container-fluid textcenter">
    <h2 class="header-text">Skills</h2>
    <div class="line"></div>
</div>

<div class="container custom-container">
    <div class="box d-flex flex-column justify-content-inline">
<div class="txt">Technologies</div>
<div class="logos">
    <div class="logos-slide">
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
      <img src="/assets/eddited photo sammed.jpeg" />
    </div>
</div>
    </div>
    
