.textcenter {
    text-align: center; 
    margin-bottom: 33px;
    }
    
    .line {
        height: 2px;
        background: #000;
    }

    .header-text {
        color: #252525;
    font-family: var(--font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-wrap: nowrap;
    /* margin-top: 27px; */
    position: relative;
    top: 36px;
    background: #fff;
    display: inline-block;
    padding: 0 20px;
    }

    .box {
        width: 107.5%;
height: 191px;
flex-shrink: 0;
border-radius: 26px 0px 0px 26px;
background: #EDF3FF;
margin-right: 100%;
    }

    .box1 {
      /* width: -120px; */
height: 191px;
flex-shrink: 0;
border-radius: 0px 26px 26px 0px;
background: #EDF3FF;
margin-top: 5%;
align-items: center;
margin-left: -100%;
  }

    .custom-container {
        padding-right: 0;
      }
      .custom-container::after {
        content: "";
        display: table;
        clear: both;
      }

      .custom-container1 {
        padding-left: 0;
      }
      .custom-container1::after {
        content: "";
        display: table;
        clear: both;
      }

      .txt {
        color: #33403E;
font-family: var(--font-family);
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 3%;
display: inline-block;
vertical-align: middle;
      }

      .txt1 {
        color: #33403E;
font-family: var(--font-family);
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 3%;
      }


      /* Styles to control the animation and scrolling */
.hover {
  overflow: hidden;
  position: relative;
}

.logos-container {
  display: flex;
  animation: scrollLeft 20s linear infinite; /* Adjust duration as needed */
}

.logos-container1 {
  display: flex;
  animation: scrollRight 20s linear infinite; /* Adjust duration as needed */
}

.logo-item {
  height: 137px;
  margin-left: 80px;
  display: inline-block;
}

.col-md-3 {
  display: flex;
  justify-content: flex-end;
}


.dot-circle {
  position: absolute;
  top: 10px; /* Adjust distance from top */
  right: 10px; /* Adjust distance from right */
  width: 10px; /* Dot circle size */
  height: 10px;
  border-radius: 50%; /* Make it a circle */
  background-color: red; /* Change the dot color */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


     
      
