<div class="container-fluid textcenter">
    <h2 class="header-text">Work Experience</h2>
    <div class="line"></div>
</div>

<div class="container">
    <div class="box">
        <div class="txt mx-4">
            <p class="pt-4">Experienced Angular Developer with a proven track record of two years at TCS, adept in crafting dynamic web applications and leveraging Angular framework to deliver efficient, user-centric solutions.</p>
        </div>
        <div class="text-center">
            <img src="assets/Rectangle 234.png" alt="">
                
                
        </div>
    </div>
</div>