<div class="low-screen-msg">Please, Switch to Desktop mode </div>
<div class="content">
<div class="topbar">Hey, Welcome to my Portfolio!!😊</div>
<div class="container-fluid container-fluid-design">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="/assets/eddited photo sammed.jpeg" alt="Banner Image" class="imgfluid">
      </div>
      <div class="col-md-6">
        <h2 class="banner-text">Sammed Biradarpatil</h2>
        <p class="banner-text1">Developer and Designer</p>
      </div>
    </div>
  </div>
  
<app-about-me></app-about-me>
<app-education></app-education>
<app-work-experience></app-work-experience>
<app-skills></app-skills>
<app-projects></app-projects>
<app-footer></app-footer>
  
</div>